{% extends 'base.html' %}

{% block title %}
Login Page 2
{% endblock %}

{% block content %}

<script>// Hide side bar
leftNavbarState(false);
</script>

<div class="centered-container">
    <div class="login-page-container">
        <div style="text-align: center;">
            <h1>Welcom back !</h1>
            <p>Still not registered ? <span class="btn-url" style="cursor: pointer; color: var(--bg-accent); font-weight: 600;" data-url="{{ url_for('register_page') }}">Create Account</span></p>
        </div>
        <form class="login-form-container" id="loginForm">
            <h2 style="text-align: center; margin-bottom: 20px;">Log in</h2>
            <div id="input-container-username" class="floating-input-container" style="background-color: var(--bg-secondary);">
                <input class="floating-input" type="text" name="username">
                <label class="floating-label">Username</label>
                <label class="floating-label-info"></label>
            </div>

            <div id="input-container-password" class="floating-input-container" style="background-color: var(--bg-secondary);">
                <input class="floating-input" type="password" name="password">
                <label class="floating-label">Password</label>
                <label class="floating-label-info"></label>
            </div>

            <input class="btn-outline-dark" style="margin-top: 20px;" type="submit" name="Log In !" id="loginSubmit" value="Log In !">
        </form>
    </div>
    
</div>

<script src="{{ url_for('static', filename='js/log_reg.js') }}"></script>

{% endblock %}